<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registry</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
<a href="/">Home</a>
<br><br>
{% for search in search %}
<li><span>Code:</span> {{ search.code }}</li>
<li><span>Name:</span> {{ search.name }}</li>
<li><span>Surname:</span> {{ search.surname }}</li>
<li><span>Description:</span> {{ search.description }}</li>
<li><span>Age:</span> {{ search.age }}</li>
<li><span>City:</span> {{ search.city }}</li>
<br>
{% endfor %}
<br>
</body>
</html>