<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../main.css">
    <title>Registry</title>
</head>
<body>
<a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/">Home</a>
<h1 class="text-3xl font-bold leading-normal mt-0 mb-2 text-gray-900">Search Results</h1>
{% if results is empty %}
No results
{% endif %}
{% for result in results %}
<li><span>Code:</span> {{ result.code }}</li>
<li><span>Name:</span> {{ result.name }}</li>
<li><span>Surname:</span> {{ result.surname }}</li>
<li><span>Description:</span> {{ result.description }}</li>
<li><span>Age:</span> {{ result.age }}</li>
<li><span>City:</span> {{ result.city }}</li>

<br>
{% endfor %}
</body>
</html>